.footer {
  background-color: var(--dark-primary);

  &__top {
    padding-top: 58px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--primary);

    @include small-tablet {
      padding-top: 40px;
      padding-bottom: 16px;
      row-gap: 40px;
    }
  }

  &__column {
    grid-column: 2 span;

    @include tablet {
      grid-column: 6 span;
    }

    @include small-tablet {
      grid-column: 2 span;
    }
  }

  &__form {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 4 span;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item:first-child {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
  }

  &__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    transition: var(--trs);
  }

  &__link {
    color: currentColor;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--border-dark);
      }
    }

    &:active {
      color: var(--light-grey);
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding: 24px 0;

    @include small-tablet {
      padding: 20px 0;
      justify-content: center;
      text-align: center;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    color: var(--white);
    transition: var(--trs);

    & svg {
      fill: currentColor;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--light-grey);
    }
  }

  &__copyright {
    margin-right: auto;

    @include small-tablet {
      margin-right: 0;
    }
  }

  &__bottom--right {
    display: flex;

  }

  &__list--link {
    display: flex;
    align-items: center;
    gap: 24px;

    @include small-tablet {
      display: none;
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
}
