.header {

  &__top {
    --container-width: 1330px;
    padding: 24px 0;
    background-color: var(--white);

    @include small-tablet {
      padding: 20px 0;
    }
  }

  &__top-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__bottom {
    padding: 20px 0;
    background-color: var(--light-grey);

    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100vh;
      overflow-y: auto;
      visibility: hidden;
      transform: translateX(-100%);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
      transition: visibility .3s ease, transform .3s ease;
    }

    &--active {
      @include tablet {
        visibility: visible;
        transform: none;
      }
    }
  }

  &__bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-right: auto;
    flex-shrink: 0;
  }

  &__details {
    display: flex;
    flex-basis: 342px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include small-tablet {
      flex-basis: 127px;
      gap: 20px;
    }

  }

  &__list {
    display: flex;
    flex-basis: 215px;
    justify-content: space-between;
    gap: 15px;
}

&__list-top {
  @include small-tablet {
    flex-direction: column;
    flex-basis: 0;
    gap: 20px;
    align-items: center;
  }
}

  &__link,
  &__item-link {
    font-weight: 400;
    font-size: 16px;
    color: #726e8d;
    transition: var(--trs);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--dark-primary);
    }
  }

  &__list-social {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 16px;

    @include small-tablet {
      gap: 20px;
    }
  }

  &__nav {
    display: flex;
    flex-basis: 660px;

    @include small-tablet {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__list-bottom {
    flex-basis: 660px;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    @include small-tablet {
      flex-basis: 0;
      gap: 20px;
    }
  }

  &__button-social {
    color: #2A254B;

    svg {
      path {
        fill: currentColor;
      }

    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--dark-primary);
    }
  }
}

.stop-scroll {
  overflow: hidden
}

.burger {
  @include burger;

  --burger-height: 20px;
  color: var(--dark);
  display: none;


  @include tablet {
    display: block;
    z-index: 1000
  }


}
