.hero {
  padding: 60px 0;

  @include small-tablet {
    padding-top: 0;
    padding-bottom: 48px;
  }

  &__content {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  & .container {
    @include small-tablet {
      padding: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // чтобы элемнты не растягивались на всю ширину
    padding: 60px;
    background-color: var(--dark-primary);

    @include small-tablet {
      padding: 40px 24px 24px 24px;
    }
  }

  &__img {
    flex-shrink: 0;
    object-fit: cover;

    @include tablet {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 41px;
    font-family: var(--second-family);
    max-width: 513px;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: var(--white);

    @include small-tablet {
      margin-bottom: 80px;
    }
  }

  &__btn {
    margin-bottom: auto;

    @include small-tablet {
      order: 3;
    }
  }

  &__descr {
    margin: 0;
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);

    @include small-tablet {
      margin-top: 0;
      margin-bottom: 32px;
    }
  }
}
