.news {
  background-color: var(--light-grey);
  padding-top: 52px;
  padding-bottom: 65px;

  @include small-tablet {
    padding: 0;
    padding-top: 48px;
    padding-bottom: 38px;
    background-color: var(--white);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    padding-top: 68px;
    padding-bottom: 54px;
    min-height: 364px;
    background-color: var(--white);

    @include small-tablet {
      align-items: flex-start;
      padding: 0;
      min-height: 292px;

    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__descr {
    margin: 0;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    max-width: 480px;
    color: var(--dark-primary);

    @include small-tablet {
      font-size: 14px;
      text-align: left;
    }
  }

  &__form {
    align-items: center;
    margin-top: 20px;

    @include small-tablet {
      margin-top: 0;
      width: 100%;
    }
  }


}
