.products {

  &__list--popular {
    margin-bottom: 42px;

    @include small-tablet {
      display: flex;
      overflow-x: auto;
      width: calc(100% + var(--container-offset));
    }
  }

  &__content--popular {
    min-height: 110px;
  }

  &__item--big {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 2 span;
    }
  }

  &__item--big img {
    @include tablet {
      height: 500px;
    }
  }

  &__item--popular {
    @include small-tablet {
      width: 200px;
      flex-shrink: 0;
    }
  }

  &__item--popular img {
    @include small-tablet {
      height: 250px;

    }
  }
}
