.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  padding: 16px 32px;
  transition: var(--trs);

  @include small-tablet {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px dashed currentColor;
    outline-offset: var(--outline-offset);
  }

  &--with-icon {
    gap: 12px;

    & svg {
      transition: transform .3s ease;
    }
  }
}


.btn--theme-dark {
  color: var(--white);
  background-color: rgba(249, 249, 249, 0.15);
  transition: var(--trs);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--white);
      color: var(--primary);
    }
  }

  &:active {
    background-color: var(--border-dark);
    color: var(--dark-primary);
  }
}

.btn--theme-light {
  border: none;
  color: var(--dark-primary);
  background-color: var(--light-grey);
  transition: var(--trs);

  @media (any-hover: hover) {
    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }

  &:active {
    color: var(--border-dark);
    background-color: var(--dark-primary);
  }
}

.btn--theme-darker {
  border: none;
  background-color: var(--dark-primary);
  transition: var(--trs);

  &:focus-visible {
    outline: 2px dashed var(--dark-primary);
    outline-offset: var(--outline-offset);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--border-dark);
      color: var(--primary);
    }
  }

  &:active {
    background-color: var(--primary);
    color: var(--white);
  }
}

.btn--theme-white {
  border: none;
  background-color: var(--white);
  color: var(--dark-primary);
  transition: var(--trs);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--border-dark);
      color: var(--primary);
    }
  }

  &:active {
    background-color: var(--primary);
    color: var(--border-dark);
  }


}
