.inner-hero {

min-height: 209px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../../img/inner-hero.jpg);

@include small-tablet {
  min-height: 146px;
  background-image: url(../../img/inner-hero390.jpg);


}

&__container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 209px;
  padding-bottom: 38px;

  @include small-tablet {
    justify-content: center;
    min-height: 146px;
    padding-bottom: 32px;
  }
}

&__title {
margin: 0;
font-family: var(--second-family);
font-weight: 400;
font-size: 36px;
line-height: 140%;
color: var(--white);


}

}
