.stepper {
  display: flex;
  background-color: var(--white);
  width: 122px;
  height: 46px;

  @include small-tablet {
    width: 100%;
  }


  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    padding: 12px 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-primary);
    background-color: inherit;
    user-select: none;
    transition: var(--trs);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
  };

  @media (any-hover: hover) {
    &:hover {
     color: var(--primary);
    }
  }

  &:active {
    color: var(--border-grey);
  }
  }

  &__btn:disabled {
    pointer-events: none;
    color: var(--border-grey)
  }

  &__input {
    border: none;
    width: calc(100% - 68px);
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-primary);
    background-color: inherit;
    transition: var(--trs);

    &:focus {
      outline: none;

    }

    &:focus-visible {
      outline: 2px dashed var(--primary);
      outline-offset: var(--outline-offset);
    }
  }

  &__cart {
   margin-top: 12px;
    background-color: var(--light-grey);

    @include small-tablet {
      margin-top: 5px;
      background-color: var(--white);
    }
  }
}
