.title {
  margin: 0;
  font-family: var(--second-family);
  color: var(--dark-primary);

  &--small {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    @include small-tablet {
      display: flex;
      align-items: flex-start;
      font-size: 20px;
    }
  }

  &--big {
    font-weight: 400;
    font-size: 32px;
    font-family: var(--second-family);

    @include small-tablet {
      font-size: 20px;
    }
  }

  &--big-white {
    font-weight: 400;
    font-size: 32px;
    font-family: var(--second-family);
    color: var(--white);
    @include small-tablet {
      font-size: 20px;
    }
  }

  &--big-very {
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    text-align: center;

    @include small-tablet {
      font-size: 20px;
    }

  }

  &--small-very {

    font-weight: 400;
    font-size: 16px;
    color: var(--white);
  }

  &--small-dark {
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: var(--dark-primary);

    @include small-tablet {
      font-size: 16px;
      line-height: 140%;
    }
  }

  &--small-centered {
    text-align: center;
  }
}
