.info {
  padding: 60px 0;

  @include small-tablet {
    padding: 32px 0;
  }

  &__img {
    height: 100%;
  }

  &__left {
    padding: 64px;
    display: flex;
    min-height: 478px;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 6 span;
    background-color: var(--dark-primary);

    @include tablet {
      padding: 35px;
    }

    @include small-tablet {
      padding: 32px;
    }

    min-height: 281px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    margin-bottom: auto;
  }

  &__btn {
    margin-top: 20px;
  }

  &__right {
    grid-column: 6 span;
  }
}
