<section class="about">
  <div class="about__left">
    <h2 class="title title--small about__title">
      From a&nbsp;studio in&nbsp;London to&nbsp;a&nbsp;global brand with
      over 400 outlets
    </h2>
    <p class="about__descr">
      When we&nbsp;started Avion, the idea was simple. Make high quality furniture affordable and available for the mass
      market.
    </p>
    <p class="about__descr">
      Handmade, and lovingly crafted furniture and homeware is&nbsp;what we&nbsp;live, breathe and design so&nbsp;our
      Chelsea boutique become the hotbed for the London interior design community.
    </p>
    <button class="btn btn--theme-light btn-reset about__btn">
      Get in touch
    </button>

  </div>
  <div class="about__right">
    <img src="../img/design.jpg" srcset="design-2x 2x" class="about__img" alt="design" class="about__img"  width="720" height="603">

  </div>
</section>
