<section class="benefits">
  <div class="container">
    <h2 class="title title--small title--small-centered benefits__title">
      What makes our brand different
    </h2>
    <ul class="benefits__list list-reset grid">
      <li class="benefits__item benefits__img">
        <h3 class="benefits__subtitle">
          Next day as standard
        </h3>
        <p class="benefits__descr">
          Order before 3pm and get your order
          the next day as&nbsp;standard
        </p>
      </li>
      <li class="benefits__item benefits__img2">
        <h3 class="benefits__subtitle">
          Made by&nbsp;true artisans
        </h3>
        <p class="benefits__descr">
          Handmade crafted goods made with
          real passion and craftmanship
        </p>
      </li>
      <li class="benefits__item benefits__img3">
        <h3 class="benefits__subtitle">
          Unbeatable prices
        </h3>
        <p class="benefits__descr">
          For our materials and quality you won&rsquo;t find better prices anywhere
        </p>
      </li>
      <li class="benefits__item benefits__img4">
        <h3 class="benefits__subtitle">
          Recycled packaging
        </h3>
        <p class="benefits__descr">
          We&nbsp;use 100% recycled packaging to&nbsp;ensure our footprint is&nbsp;manageable
        </p>
      </li>
    </ul>
  </div>
</section>
