<section class="cart">
  <div class="container">
    <div class="cart__content">
      <div class="cart__table">
        <h1 class="cart__title--mobile title--small">
          Your shopping cart
        </h1>
        <div class="cart__row cart__row--heading cart__grid">
          <div class="cart__column">
            Product
          </div>
          <div class="cart__column cart__column--quantity">
            Quantity
          </div>
          <div class="cart__column cart__column--total">
            Total
          </div>
        </div>
        <div class="cart__row cart__grid">
          <div class="cart__column cart__column--image">
            <img src="img/cart1.jpg" srcset="img/cart1-2x.jpg 2x" aria-hidden="true" width="109" height="134"
              class="cart__img" loading="lazy">
          </div>
          <div class="cart__column cart__column--info">
            <h1 class="visually-hidden">Cart</h1>
            <div class="cart__info">
              <h2 class="cart__title title--small-dark">Graystone vase</h2>
              <p class="cart__descr">A&nbsp;timeless ceramic vase with a&nbsp;tri color grey glaze.</p>
              <span class="cart__price">
                &pound;85
              </span>
            </div>
          </div>
          <div class="cart__column cart__column--quantity">
            <div class="cart__stepper">
              <div class="stepper stepper__cart">
                <button class="btn-reset stepper__btn stepper__btn--minus" disabled
                  aria-label="Decrease quantity">-</button>
                <input type="number" class="stepper__input" min="1" max="999" value="1">
                <button class="btn-reset stepper__btn stepper__btn--plus" aria-label="Increase quantity">+</button>
              </div>
            </div>
          </div>
          <div class="cart__column cart__column--total">
            <span class="cart__total">
              &pound;85
            </span>
          </div>
        </div>

        <div class="cart__row cart__grid">
          <div class="cart__column cart__column--image">
            <img src="img/cart2.jpg" srcset="img/cart2-2x.jpg 2x" aria-hidden="true" width="109" height="134"
              class="cart__img" loading="lazy">
          </div>
          <div class="cart__column cart__column--info">
            <h1 class="visually-hidden">Cart</h1>
            <div class="cart__info">
              <h2 class="cart__title title--small-dark">Basic white vase</h2>
              <p class="cart__descr">Beautiful and simple this is&nbsp;one for the classics collections</p>
              <span class="cart__price">
                &pound;125
              </span>
            </div>
          </div>
          <div class="cart__column cart__column--quantity">
            <div class="cart__stepper">
              <div class="stepper stepper__cart">
                <button class="btn-reset stepper__btn stepper__btn--minus" disabled
                  aria-label="Decrease quantity">-</button>
                <input type="number" class="stepper__input" min="1" max="999" value="1">
                <button class="btn-reset stepper__btn stepper__btn--plus" aria-label="Increase quantity">+</button>
              </div>
            </div>
          </div>
          <div class="cart__column cart__column--total">
            <span class="cart__total">
              &pound;125
            </span>
          </div>
        </div>
      </div>
      <div class="cart__bottom">
        <div class="cart__bottom-block">
          <p class="cart__bottom-descr">
            Taxes and shipping are calculated at&nbsp;checkout
          </p>
          <div class="cart__bottom--right">
            <span class="cart__bottom--total">
              Subtotal
            </span>
            <span class="cart__bottom-price">
              &pound;210
            </span>
          </div>
        </div>
        <div class="cart__button">
          <a href="#" class=" btn btn--theme-darker cart__btn">
            Go to checkout
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
