<section class="catalog" id="catalog">
  <h2 class="visually-hidden">
    Catalog
  </h2>
  <div class="container">
    <div class="catalog__block grid">
      <div class="catalog__column">
        <button class="catalog__mobile--btn btn btn--theme-light btn--with-icon">filters
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="16" height="16" transform="translate(0.5)" fill="none" style="mix-blend-mode:multiply" />
          <path d="M12.5 6L8.5 11L4.5 6H12.5Z" fill="currentColor" />
        </svg></button>

        <div class="catalog__filter">
          <div class="catalog__filter-item">
            <h2 class="catalog__filter-title">
              Product type
            </h2>
            <div class="catalog__filter-content">
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">Furniture</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">Homeware</span>
              </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Sofas</span>
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Homeware</span>
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Light fittings</span>
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Accessories</span>
                </label>
            </div>
          </div>
          <div class="catalog__filter-item">
            <h2 class="catalog__filter-title">
              Price
            </h2>
            <div class="filter__content">
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">0&nbsp;&mdash; 100</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">101&nbsp;&mdash; 250</span>
              </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">250 +</span>
                </label>
            </div>
          </div>
          <div class="catalog__filter-item">
            <h2 class="catalog__filter-title">
              Designer
            </h2>
            <div class="catalog__filter-content">
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">Robert Smith</span>
              </label>
              <label class="custom-checkbox">
                <input type="checkbox" name="product" class="custom-checkbox--input">
                <span class="custom-checkbox__icon"></span>
                <span class="custom-checkbox__text">Liam Gallagher</span>
              </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Biggie Smalls</span>
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" name="product" class="custom-checkbox--input">
                  <span class="custom-checkbox__icon"></span>
                  <span class="custom-checkbox__text">Thom Yorke</span>
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog__wrapper">
        <ul class="catalog__list list-reset">
          <li class="catalog__item">
            <img src="img/Parent.jpg" srcset="img/Parent-2x.jpg 2x" width="305" height="375" alt="rustic vase"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">Rustic Vase Set</a></h3>
              <span class="catalog__price">&pound;155</span>
            </div>
          </li>

          <li class="catalog__item">
            <img src="img/Parent2.jpg" srcset="img/Parent2-2x.jpg 2x" width="305" height="375" alt="rustic vase"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">Rustic Vase Set</a></h3>
              <span class="catalog__price">&pound;155</span>
            </div>

          </li>
          <li class="catalog__item">
            <img src="img/Parent5.jpg" srcset="img/Parent5-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Dandy chair</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>

          </li>
          <li class="catalog__item">
            <img src="img/Parent3.jpg" srcset="img/Parent3-2x.jpg 2x" width="305" height="375" alt="silky vase"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle">
                <a href="" class="catalog__link">The Silky Vase</a></h3>
              <span class="catalog__price">&pound;125</span>
            </div>

          </li>
          <li class="catalog__item">
            <img src="img/Parent4.jpg" srcset="img/Parent4-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Lucy Lamp</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>

          </li>

          <li class="catalog__item">
            <img src="img/Parent6.jpg" srcset="img/Parent6-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Lucy Lamp</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>
          </li>
          <li class="catalog__item">
            <img src="img/Parent7.jpg" srcset="img/Parent7-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Lucy Lamp</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>
          </li>
          <li class="catalog__item">
            <img src="img/Parent8.jpg" srcset="img/Parent8-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Lucy Lamp</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>
          </li>
          <li class="catalog__item">
            <img src="img/Parent9.jpg" srcset="img/Parent9-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
              loading="lazy" class="catalog__img">
            <div class="catalog__content">
              <h3 class="catalog__subtitle"> <a href="#" class="catalog__link">The Lucy Lamp</a></h3>
              <span class="catalog__price">&pound;250</span>
            </div>
          </li>
        </ul>
        <div class="catalog__button">
          <button class="btn catalog__btn btn--theme-light">
            Load more
          </button>
        </div>
      </div>
    </div>


  </div>
  </div>
</section>
