<section class="products">
  <div class="container">
    <h2 class="products__title title--big title">
      You might also love these
    </h2>
    <ul class="products__list list-reset grid">

      <li class="products__item products__item--big ">
        <img src="img/Large1.jpg" srcset="img/Large1-2x.jpg 2x" width="630" height="375" alt="rustic vase"
          loading="lazy" class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle"> <a href="#" class="products__link">The Poplar suede sofa</a></h3>
          <span class="products__price">&pound;980</span>
        </div>

      </li>
      <li class="products__item">
        <img src="img/Parent1.jpg" srcset="img/Parent1-2x.jpg 2x" width="305" height="375" alt="silky vase"
          loading="lazy" class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle">
            <a href="" class="products__link">The Dandy chair

            </a></h3>
          <span class="products__price">&pound;250</span>
        </div>

      </li>
      <li class="products__item">
        <img src="img/chair-product.jpg" srcset="img/chair-product-2x.jpg 2x" width="305" height="375" alt="lusy lamp"
          loading="lazy" class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle"> <a href="#" class="products__link">The Dandy chair</a></h3>
          <span class="products__price">&pound;250</span>
        </div>

      </li>
    </ul>
    <div class="products__link--btn">
      <a href="#" class="btn products__btn btn--theme-light">View collection</a>
    </div>

</section>
