<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__text">
        <h1 class="hero__title">
          The furniture brand for the future, with timeless designs
        </h1>
        <a href="#" class="btn btn--theme-dark hero__btn">View collection</a>
        <p class="hero__descr">
          A&nbsp;new era in&nbsp;eco friendly furniture with Avelon, the French luxury retail brand
          with nice fonts, tasteful colors and a&nbsp;beautiful way to&nbsp;display things digitally
          using modern web technologies.
          
        </p>

      </div>
      <img src="../img/chair.jpg" srcset="../img/chair-2x.jpg 2x" alt="chair" class="hero__img" width="520" height="584">
    </div>

  </div>
</section>
