<section class="info">
  <div class="container">
    <div class="info__content grid">
      <div class="info__left">
        <h1 class="info__title title title--big-white">
          It&nbsp;started with a&nbsp;small idea
        </h1>

        <p class="info__descr">
          A global brand with local beginnings, our story begain in a small studio in South London in early 2014

        </p>
        <a href="#" class="btn btn--theme-dark info__btn">View collection</a>
      </div>
      <div class="info__right">
<img src="img/about_info.jpg" srcset="img/about_info-2x.jpg 2x"  alt="" class="info__img">
      </div>
    </div>

  </div>
</section>

