<div class="info-product">
  <div class="container">
    <div class="info-product__block grid">
      <div class="info-product__left">
        <img src="../img/Product Image.jpg" srcset="../img/Product Image-2x.jpg 2x" alt="chair"
          class="info-product__img" loading="lazy">
      </div>
      <div class="info-product__right">
        <div class="info-product__content">
          <h1 class="info-product__title">
            The Dandy Chair
          </h1>
          <span class="info-product__price">
            &pound;250
          </span>
        </div>
        <div class="info-product__item">
          <h3 class="info-product__subtitle">
            Product description
          </h3>
          <p class="info-product__descr">
            A&nbsp;timeless design, with premium materials features as&nbsp;one of&nbsp;our most popular and iconic
            pieces. The dandy chair is&nbsp;perfect for any stylish living space with beech legs and lambskin leather
            upholstery.
          </p>
        </div>
        <div class="info-product__item">
          <h3 class="info-product__subtitle">
            Dimensions
          </h3>
<div class="info-product__chars-block">
  <dl class="info-product__chars">
    <div class="info-product__chars-item">
      <dt class="info-product__chars-caption">Height</dt>
      <dd class="info-product__chars-text">110cm</dd>
    </div>
    <div class="info-product__chars-item">
      <dt class="info-product__chars-caption">Width</dt>
      <dd class="info-product__chars-text">75cm</dd>
    </div>
    <div class="info-product__chars-item">
      <dt class="info-product__chars-caption">Depth</dt>
      <dd class="info-product__chars-text">75cm</dd>
    </div>
  </dl>
</div>

        </div>
        <div class="info-product__item">
          <h3 class="info-product__subtitle">
            Quantitity
          </h3>
          <div class="stepper">
            <button class="btn-reset stepper__btn stepper__btn--minus" disabled aria-label="Decrease quantity">-</button>
            <input type="number" class="stepper__input" min="1" max="999" value="1">
            <button class="btn-reset stepper__btn stepper__btn--plus" aria-label="Increase quantity">+</button>
          </div>
        </div>
        <div class="info-product__btnall">
          <button class="info-product__btn btn btn--theme-darker">Add to cart</button>
          <button class="info-product__btn btn btn--theme-white">Save to favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>
