<section class="news">
  <div class="container news__container">
    <div class="news__content">
      <h3 class="news__title title title--big-very">
        Join the club and get the benefits
      </h3>
      <p class="news__descr">
        Sign up&nbsp;for our newsletter and receive exclusive offers on&nbsp;new ranges, sales, pop up&nbsp;stores and more
      </p>
     <form action="#" method="post" class="news__form form">
      <input type="email" name="email" class="form__input" placeholder="your@email.com">
      <button class="form__btn btn-reset btn btn--theme-darker" type="submit">
        Sign up
      </button>
     </form>
    </div>
  </div>
</section>
