<section class="products" id="ceramics">
  <div class="container">
    <h2 class="products__title title--big title">
      New ceramics
    </h2>
    <ul class="products__list list-reset grid">
      <li class="products__item">
        <img src="img/Parent.jpg" srcset="img/Parent-2x.jpg 2x" width="305" height="375" alt="rustic vase" loading="lazy"
          class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle"> <a href="#" class="products__link">Rustic Vase Set</a></h3>
          <span class="products__price">&pound;155</span>
        </div></li>

      <li class="products__item">
        <img src="img/Parent2.jpg" srcset="img/Parent2-2x.jpg 2x" width="305" height="375" alt="rustic vase" loading="lazy"
          class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle"> <a href="#" class="products__link">Rustic Vase Set</a></h3>
          <span class="products__price">&pound;155</span>
        </div>

      </li>
      <li class="products__item">
        <img src="img/Parent3.jpg" srcset="img/Parent3-2x.jpg 2x" width="305" height="375" alt="silky vase" loading="lazy"
          class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle">
            <a href="" class="products__link">The Silky Vase</a></h3>
          <span class="products__price">&pound;125</span>
        </div>

      </li>
      <li class="products__item">
        <img src="img/Parent4.jpg" srcset="img/Parent4-2x.jpg 2x" width="305" height="375" alt="lusy lamp" loading="lazy"
          class="products__img">
        <div class="products__content">
          <h3 class="products__subtitle"> <a href="#" class="products__link">The Lucy Lamp</a></h3>
          <span class="products__price">&pound;399</span>
        </div>

      </li>
    </ul>
    <div class="products__link--btn">
      <a href="#" class="btn products__btn btn--theme-light">View collection</a>
    </div>

</section>
