<section class="services">

    <div class="services__left">
      <img src="img/about_services.jpg" srcset="img/about_services-2x.jpg 2x" alt="services" class="services__img"
        width="720" height="603">
    </div>
    <div class="services__right">
      <h2 class="title title--small services__title">
        Our service isn&rsquo;t just personal, it&rsquo;s actually
        hyper personally exquisite
      </h2>
      <p class="services__descr">
        When we&nbsp;started Avion, the idea was simple. Make high quality furniture affordable and available for the
        mass market.
      </p>
      <p class="services__descr">
        Handmade, and lovingly crafted furniture and homeware is&nbsp;what we&nbsp;live, breathe and design so&nbsp;our
        Chelsea boutique become the hotbed for the London interior design community.
      </p>
      <button class="btn btn--theme-light btn-reset services__btn">
        Get in touch
      </button>

  </div>

</section>
