:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --images---dark-chair: #f6f6f6;

  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --gap: 20px;

  --trs: color .3s ease, background-color .3s ease, border-color .3s ease;
  --outline-offset: 2px;



}

@include small-tablet {
:root {
  --container-offset: 24px;
}

}
